{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form" action="">
                    <div id="user-info">
                        <div class="form-field">
                            <input type="text" class="form-control" required name="name" placeholder="Name..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="email" placeholder="Email..">
                        </div>
                    </div>
                    <div id="shipping-info">
                        <hr>
                        <p>Shipping Information:</p>
                        <hr>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="zipcode" placeholder="Zip Code..">
                        </div>
                        <div class="form-field">
                            <input type="text" class="form-control" required name="country" placeholder="Country..">
                        </div>
                    </div>
                    <hr>
                    <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                </form>
            </div>
            <br>

            <div class="box-element hidden" id="payment-info">
                <small>Paypal Options</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to cart</a>
                <hr>
                <h3>Order summery</h3>
                <hr>
                {% for item in items %}
                <div class="cart-row" >
                    {% if item.product.imageURL %}
                        <div class="flx" ><img class="row-image" src="{{item.product.imageURL}}" alt="Product"></div>
                    {% else %}
                        <div class="flx" ><img class="row-image" src="{% static 'images/placeholder.png' %}" alt="Product"></div>
                    {% endif %}
                    <div class="flx" >{{item.product.name}}</div>
                    <div class="flx" >{{item.product.price|floatformat:2}}€</div>
                    <div class="flx" >x{{item.quantity}}</div>
                </div>
                {% endfor %}
                <h5>Items:      {{order.getCartItems}}</h5>
                <h5>Total:     {{order.getCartTotal|floatformat:2}}€</h5>
            </div>
        </div>
    </div>

{% endblock %}